---
- name: Restart alertmanager
  ansible.builtin.systemd:
    name: alertmanager
    state: restarted
    daemon_reload: True

- name: Restart alertmanager-oauth2
  ansible.builtin.systemd:
    name: alertmanager-oauth2
    state: restarted
    daemon_reload: yes

...
