global:
  smtp_from: "{{ alertmanager_smtp_from }}"
  smtp_smarthost: "{{ alertmanager_smtp_smarthost }}"
  smtp_auth_username: "{{ alertmanager_smtp_username }}"
  smtp_auth_password: "{{ alertmanager_smtp_password }}"
  smtp_require_tls: {{ alertmanager_smtp_require_tls | lower }}

route:
  receiver: "{{ alertmanager_receiver }}"
{% if alertmanager_group_by | default(False) %}

  group_by:
    {{ alertmanager_group_by | to_nice_yaml(indent=2) | indent(width=4, indentfirst=False) | trim }}
{% endif %}
{% if alertmanager_routes | default(False) %}

  routes:
    {{ alertmanager_routes | to_nice_yaml(indent=2) | indent(width=4, indentfirst=False) | trim }}
{% endif %}
{% if alertmanager_receivers | default(False) %}

receivers:
  {{ alertmanager_receivers | to_nice_yaml(indent=2) | indent(width=2, indentfirst=False) | trim }}
{% endif %}
{% if alertmanager_inhibit_rules | default(False) %}

inhibit_rules:
  {{ alertmanager_inhibit_rules | to_nice_yaml(indent=2) | indent(width=2, indentfirst=False) | trim }}
{% endif %}
