[Unit]
Description=Alertmanager for Prometheus monitoring

[Service]
Restart=always
User=alertmanager
EnvironmentFile=/etc/default/alertmanager
ExecStart=/usr/bin/alertmanager $ARGS

[Install]
WantedBy=multi-user.target
